---
import moment from 'moment'
---
<footer id="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-8">
                    <span>Trend Suites {moment(Date.now()).format('YYYY')}</span>
                </div>
            </div>
        </div>
    </div>
</footer>
