---
const {title} = Astro.props;
import '../../public/assets/css/flexslider.css'
import '../../public/assets/css/bootstrap.min.css'
import '../../public/assets/css/animate.css'
import '../../public/assets/css/daterangepicker-bs3.css'
import '../../public/assets/css/font-awesome.min.css'
import '../../public/assets/css/jquery.tosrus.all.css'
import '../../public/assets/css/lc_lightbox.css'
import '../../public/assets/css/magnific-popup.css'
import '../../public/assets/css/mail.css'
import '../../public/assets/css/owl.carousel.css'
import '../../public/assets/css/owl.theme.css'
import '../../public/assets/css/responsive.css'
import '../../public/assets/css/style.css'
---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title || 'Trend Suites'}</title>
        <!-- Favicon -->
        <link rel="icon" href="/manifest/favicon.ico">

        <!-- Apple Touch Icon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/manifest/apple-touch-icon.png">

        <!-- Android Chrome Icons -->
        <link rel="icon" type="image/png" sizes="144x144" href="/manifest/android-chrome-144x144.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/manifest/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="512x512" href="/manifest/android-chrome-512x512.png">

        <!-- Favicons for Different Sizes -->
        <link rel="icon" type="image/png" sizes="32x32" href="/manifest/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/manifest/favicon-16x16.png">

        <!-- Windows Tile -->
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/mstile-150x150.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Safari Pinned Tab -->
        <link rel="mask-icon" href="/manifest//safari-pinned-tab.svg" color="#5bbad5">

        <!-- Web App Manifest -->
        <link rel="manifest" href="/manifest/site.webmanifest">

        <!-- Browserconfig -->
        <meta name="msapplication-config" content="/manifest/browserconfig.xml">
        </head>